
.oneOff {
    color: #fff;
    background: #191919;
}

body {
    font-family: 'Roboto Slab', serif;
}

.blog-title {
    margin: 10px 0 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    text-shadow: 0 0 6px black;
}